.seq-number{
    padding:10px 0px 12px 1px;
    width: 14px;
    height: 20px;
    /* font-family: HiraginoSans-W3; */
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#999999;
}
.down {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.up{
 
    width: 16px;
    height: 16px;
    cursor:pointer;
}
.divs{
    display: flex;
    flex-direction: row;
    background-color: white;
    height:max-content;
}
.div-content{
    /* padding-top:30px ; */
    padding-left:21px;
}
li{
    list-style: none;
}

.arrow-controllers{
 position: relative;
 top:40%;
}