.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: max-content;
 
    position: relative;
    top:-600px;
    left: 400px;
    width: 50vw;
    padding-left:20px;
    


}
.box{
    padding-top:10px;
}