.card-container{
    width: 528px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: max-content;
    position: relative;
    top:-400px;
    left: 400px;

}

.question-box{
    display: flex;
    flex-direction: row;
}
.question-box-controls{
    display: flex;
    flex-direction: column;
    padding:22px 24px;
    justify-content: space-between;
}
.quest-text{
    width: 384px;
    height: 96px;
    /* font-family: Nunito; */
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    padding:16px 16px 16px 32px;
}

.text-box{
    width: 432px;
    height: 128px;
    border-radius: 4px;
    box-shadow: inset 0 -2px 0 0 #12aab3;
    background-color: #f4f4f4;
    
}
