.comply-card{
    width: 412px;
    height: 199px;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.comply-card-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:24px 16px 24px 16px;
}
.comply-label{
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #12aab3;
    padding:24px 0px 0px 16px;
}
.label-input{
    padding-bottom:4px;
    border:none;
    border-bottom:2px solid #12aab3;
    width:380px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}
.positive-label, .negative-label{
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}
.positive-label-input, .negative-label-input{
    border:none;
    border-bottom:1px solid #bababa;
    width: 182px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    padding-bottom: 4px;
    padding-top:2px;
}
input:focus{
    outline: none;
}
.comply-button, .no-comply-button{
    width: 182px;
    height: 32px;
    border-radius: 3px;
    background-color: white;
    margin-top:16px;
}

.comply-button{
    border: solid 1.5px #12aab3;
    color: #12aab3
}
.no-comply-button{
    color: #e24c4c;
    border: solid 1.5px #e24c4c;
}