
@font-face {
    font-family: HiraginoSans-W2;
    src: local(HiraginoSans-W2),
      url(/path/to/HiraginoSans-W2.woff2) format("woff2"),
      url(/path/to/HiraginoSans-W2.woff) format("woff"),
      url(/path/to/HiraginoSans-W2.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }

.sidebar{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    width: 130px;
    height: 1026px;
    background-color: #fafafa;

}
ul{
    padding-top:0px;  
    margin:0;
    padding-right:30px;
    list-style: none;
    padding-left: 0px;
  
    
}
ul li{
    
    text-align: center;
    width: 130px;
    height: 70px;
    background-color: #fafafa;
    padding-bottom: 15px;
    padding-right:0px;
   
   
}
.icons{
    width: 15px;
    height: 15px;
    padding-top:17px;
    padding-left: 51px;
    padding-bottom: 12px;
}
.menu{
    padding-left:23px;
    padding-bottom: 15px;
    width: 74px;
    height: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.71;
    letter-spacing: 1.5px;
    text-align: center;
    color: #808080;
    
}
.active{
    background-color: #3cd3ad;
    color: white;
    font-weight: bold;
}
.audit{
    width: 74px;
    height: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.71;
    letter-spacing: normal;
    text-align: center;
    color: #808080;
}
.hide-img{
    width:16px;
    height:16px;
    padding-right:10px;
   
}
.hide-text{
width: 31px;
  height: 10px;
  font-family:'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.71;
  letter-spacing: normal;
  text-align: center;
  color: #808080;
  padding-left:45px;
  padding-top:0px;
}
.hide-button{
  position:relative;
  bottom:0px;
  padding-bottom:0px;
}