.menu-bar{
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    box-shadow: 0 2px 4px 0 rgba(92, 90, 90, 0.1), inset 0 -1px 0 0 #dadada;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.menu-item{
    width: 60px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:13px;
    border-bottom: 2px solid #3cd3ad;
   
}
.menu-text{
    width: 51px;
    height: 14px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3cd3ad;
}
.buttons{
    padding-top:10px;
    display:flex;
    flex-direction: row;
    padding-right:10px;
}

.save-changes{
  width: 163px;
  height: 11px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color:#666666;
  padding-right:30px;

  
}


.publish-checklist{
    position: relative;
   
    border: none;
    width: 140px;
    height: 32px;
    border-radius: 3px;
    background-color: #3cd3ad;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.71;
    letter-spacing: normal;
    text-align: center;
    color: white;
  
  }