.date-card{
  display:flex;
  flex-direction:column;
  width: 384px;
  height: max-content;
  border-radius: 3px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.select-date{
  width: 183px;
  height: 27px;
  /* font-family: Nunito; */
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
  padding:24px 0px 16px 16px;
}
.date-input{
    padding-left:16px;
}
.label{
  padding-bottom:2px;
  width: 20px;
  height: 11px;
  /* font-family: NunitoSans; */
  font-size: 8px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #12aab3;
}
.date-input-text{
  outline:none;
  width: 352px;
  border:none;
  border-bottom: 2px solid #12aab3;
  /* font-family: Nunito; */
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
  padding-bottom:3px;
}
.date-time-option{
    display:flex;
    flex-direction:row;
    padding-left:16px;
    padding-top:16px;
}
.pick-date{
    display:flex;
    flex-direction:row;
    width:192px;
}
.pick-date-text{
  width: 65px;
  height: 14px;
  /* font-family: HiraginoSans-W2; */
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
  padding-left:10px;
}
 .pick-time{
  display:flex;
  flex-direction:row;
 }
 .pick-time-text{
  width: 66px;
  height: 14px;
  /* font-family: HiraginoSans-W2; */
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
  padding-left:10px;
 }
 