@import "../node_modules/@syncfusion/ej2-react-buttons/styles/material.css";
html{
  background-color: #ecedf1;
}
.App {
  text-align: center;
  margin:0px;
  
  
}
.header{

}
.stages{
  position: absolute;;
  top:131px;
  left:150px;
}
.sidebar{
  position: absolute;
  left: 0px;
  top:50px;
  border-radius: 0px -50px 0 0;
}

.menubar{
  position: absolute;
  top:80px;
  left:150px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.upload{
 position:absolute;
 left:500px;
 top:200px;
 display:flex;
 flex-direction:column;

}
.box{
position:absolute;
 left:500px;
 top:500px;
 display:flex;
 flex-direction:column;
}
.box1{
  position:absolute;
 left:500px;
 top:800px;
 
}
.box2{
  position:absolute;
 left:500px;
 top:1100px;
 
}
.box3{
  position:absolute;
 left:500px;
 top:1500px;
 
}
.box4{
  position:absolute;
 left:500px;
 top:1800px;
 
}
.box5{
  position:absolute;
 left:500px;
 top:2300px;
 
}
.box6{
  position:absolute;
  left:500px;
  top:2700px;
}