@import "../node_modules/@syncfusion/ej2-react-buttons/styles/material.css";
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html{
  background-color: #ecedf1;
}
.App {
  text-align: center;
  margin:0px;
}
.header{
  position: absolute;
  right:0px;
  top:0px;
}
.tab{
  width: 90%;
  height: 100%;
  box-shadow: inset 0px 15px 10px -12px rgba(0,0,0,0.1);
  border-top:1.5px solid  rgb(184, 184, 184);
  position: relative;
  top:30px;
  left:120px;
  border-top-left-radius: 23px;
  background-color: #ecedf1;
  z-index: 3;
  padding-left:14px;
  padding-top:8px;
}

.corner{
  width: 29px;
  height:29px;
  position: relative;
  left:120px;
  top:60px;
  z-index: 2;
  background-color: #fafafa;
}

.main-section{
  width: 88.5vw;
  background-color: white;
  height: 100%;
  border-radius: 5px;
}
.stages{
  width: fit-content;
  position: absolute;
  height: 100%;
}
.card-content{
  width: max-content;
  height: max-content;
}


.sidebar-section{
  position: absolute;
  top:60px;
  border-radius: 0px -50px 0 0;
}

.settings{
  width:max-content;
  position:relative;
  top:-400px;
  left:400px;

}
.url-exe{
  width:max-content;
  position: relative;
  top:-300px;
  left:400px;
}
.cleaning{
  position: relative;
  width:max-content;
  top:-200px;
  left:400px;
}
.main{
  position:relative; 
  top:220px;
  width: max-content;
}
.other-components{
  width:max-content;
  position:relative;
  top:-150px;
  left:450px;
 
}
.main-comp{
  width:max-content;
  position:relative;
  top:-80px;
  left:450px;
}
.all{
  background-color: white;
}