@import "../node_modules/@syncfusion/ej2-react-buttons/styles/material.css";
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html{
  background-color: #ecedf1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

.exp-div{
    overflow-y: hidden;
}

.main-container-scroll{
  height: 100vh;
}

.container-scroll{
  overflow: scroll;
  display: inline-block;
  vertical-align: top;
}
.stage-div{
  height: 75vh;
}

.steps-div{
  height: 80vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  margin:0px;
}
.header{
  position: fixed;
  right:0px;
  top:0px;
}
.tab{
  width: 90%;
  box-shadow: inset 0px 15px 10px -12px rgba(0,0,0,0.1);
  border-top: 1.5px solid rgb(184, 184, 184);
  border-top-left-radius: 20px;
  background-color: #ecedf1;
  z-index: 3;
  margin-left: 120px;
  position: fixed;
  top:50px;
  padding-left: 1.5em;
  padding-top: 1.3em;
}

.corner{
  width: 29px;
  height:29px;
  background-color: #fafafa;
}

.main-section{
  width: 88.5vw;
  background-color: white;
  border-radius: 5px;
}
.card-content{
  width: max-content;
}


.sidebar-section{
  float: left;
  position: fixed;
  background-color: #fafafa;
  top: 60px;
  height: 100vh;
}

.m-top-tiny{
  margin-top: 1em;
}

.settings{
  width:max-content;
}
.url-exe{
  width:max-content;
  margin-top: 2em;
}
.cleaning{
  width:max-content;
  margin-top: 2em;
}
.main{
  margin-top: 2em;
  top:0px;
  width: max-content;
}

.other-components{
  width:max-content;
  margin-top: 2em;
}

.main-comp{
  width:max-content;
   margin-top: 2em;
}

.all{
  background-color: white;
}

.disp-inline-block{
  display: inline-block;
}